#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.cardPizzas {
  margin: 10px 0px;
  background-color: black;
  list-style-type: none;
  width: 30%;
  border-radius: 20px;
  height: 30vh;
  padding: 10px;
}

.cardPizzas img {
  width: 80%;
  height: 45%;
  padding: 10px;
}

.cardPizzas p {
  margin-bottom: -10px;
}
